.App {
    font-family: helvetica, sans-serif;
    text-align: center;
  }
  
  .logo {
    font-family: "Monoton", helvetica, sans-serif;
    font-size: 45px;
  }
  
  .navbar a {
    font-family: "Bangers", helvetica, sans-serif, cursive;
    font-size: 25px;
    padding: 20px;
    color: #0E6973;
    text-decoration: none;
  }
  
  .navbar a.active-link {
    color: #BF214B;
  }
  
  .navbar a:hover {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -o-transform: scale(1.2);
    color: #BF214B;
  }
  